body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
}

a {
    color:#12c064;
    text-decoration:none;
}

a:hover {
    color:#00a74f;
}

#header {
    padding:10px 100px;
    font-size:14px;
    background:#000000;
    color:#fff;
    border-bottom:4px solid #1cdf78;
    overflow:auto;
}

#content {
    padding:30px 100px;
}